body {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.bloque {
    width: 150px;
    border-left: 3px dashed rgb(177, 164, 164);
    border-right: 3px dashed grey;
    padding: 0px 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 10px;
}

.celda {
    border: 1px solid black;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

h1 {
    background-color: rgb(211, 206, 206);
    text-align: left;
    margin: 0px
}

h2 {
    background-color: rgb(176, 154, 154);
    margin-top: 0px;
    text-align: right;
    border-bottom: 3px dashed grey;
}

h3 {
    background-color: rgb(181, 177, 177);
    margin: 0px 0px 5px 0px;
    padding: 10px 0px;
    text-align: center;
}

h4 {
    background-color: rgb(206, 198, 198);
    color: white;
    text-align: right;
    margin: 0px;
    padding-bottom: 5px;
}

.celdarara {
    overflow: auto;
    border: 1px solid black;
    margin-bottom: 10px;
}